body {
    font-family: Asap;
    font-size: 20px;
    padding: 50px;
}

h1 {
    font-size: 80px;
    font-family: Lora;
    font-weight: bold;
}

h2 {
    font-family: Lora;
    margin: 30px 0;
}

a {
    color: #3CC2A4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    line-height: 2;
}

code {
    font-family: 'Roboto Mono';
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.project, .contact {
    overflow: auto;
    margin: 0 0 15px;
}

.project img {
    border-radius: 1000px;
    width: 100px;
    display: block;
    float: left;
}

.project .info {
    display: block;
    float: left;
    margin: 0 0 0 20px;
    max-width: 510px;
}

.mobile {
    display: none;
}

@media (max-width: 640px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .project .info {
        margin: 0;
        max-width: auto;
    }

}

@media (max-width: 480px) {

    .header {
        font-size: 50px;
    }

    .project img {
        width: 160px;
        display: block;
        margin: 0 auto;
        float: none;
    }

}
